#Rename config.py.example to config.py

sparqlstore = dict(
    sesame_url="http://localhost:8080/openrdf-sesame/repositories/sempubchallenge-max",
    # dbpedia_url="http://localhost:8080/openrdf-sesame/repositories/dbpedia-dump",
    dbpedia_url="http://dbpedia.org/sparql",
    uri_base = "http://ceur-ws.org/resource/"
)

id = dict(
    person = sparqlstore['uri_base'] + "person/",
    proceedings = sparqlstore['uri_base'] + "proceedings/ceur-ws/",
    publication = sparqlstore['uri_base'] + "publication/",
    workshop = sparqlstore['uri_base'] + "workshop/",
    conference=sparqlstore['uri_base'] + "conference/"
)

DEBUG = False

#################################
#List of input links for crawling.
#################################

#Complete dataset
#input_urls = ["http://ceur-ws.org/"]
#Training dataset
input_urls = [
"http://ceur-ws.org/Vol-1302/invited.pdf",
"http://ceur-ws.org/Vol-1302/paper1.pdf",
"http://ceur-ws.org/Vol-1302/paper2.pdf",
"http://ceur-ws.org/Vol-1302/paper3.pdf",
"http://ceur-ws.org/Vol-1302/paper4.pdf",
"http://ceur-ws.org/Vol-1302/paper5.pdf",
"http://ceur-ws.org/Vol-1302/paper6.pdf",
"http://ceur-ws.org/Vol-1302/paper7.pdf",
"http://ceur-ws.org/Vol-1302/paper8.pdf",
"http://ceur-ws.org/Vol-1248/WoMO14-Paper1.pdf", 
"http://ceur-ws.org/Vol-1248/WoMO14-Paper3.pdf",
"http://ceur-ws.org/Vol-1248/WoMO14-Paper4.pdf",
"http://ceur-ws.org/Vol-1248/WoMO14-Paper5.pdf",
"http://ceur-ws.org/Vol-1248/WoMO14-Paper7.pdf",
"http://ceur-ws.org/Vol-1248/WoMO14-Paper8.pdf",
"http://ceur-ws.org/Vol-1248/WoMO14-Paper9.pdf",
"http://ceur-ws.org/Vol-1215/paper-01.pdf", 
"http://ceur-ws.org/Vol-1215/paper-02.pdf",
"http://ceur-ws.org/Vol-1215/paper-03.pdf",
"http://ceur-ws.org/Vol-1215/paper-04.pdf",
"http://ceur-ws.org/Vol-1215/paper-05.pdf",
"http://ceur-ws.org/Vol-1215/paper-06.pdf",
"http://ceur-ws.org/Vol-1207/paper_1.pdf", 
"http://ceur-ws.org/Vol-1207/paper_2.pdf",
"http://ceur-ws.org/Vol-1207/paper_3.pdf",
"http://ceur-ws.org/Vol-1207/paper_4.pdf",
"http://ceur-ws.org/Vol-1207/paper_5.pdf",
"http://ceur-ws.org/Vol-1207/paper_6.pdf",
"http://ceur-ws.org/Vol-1207/paper_7.pdf",
"http://ceur-ws.org/Vol-1207/paper_8.pdf",
"http://ceur-ws.org/Vol-1207/paper_9.pdf",
"http://ceur-ws.org/Vol-1207/paper_10.pdf",
"http://ceur-ws.org/Vol-1207/paper_11.pdf",
"http://ceur-ws.org/Vol-1188/paper_1.pdf", 
"http://ceur-ws.org/Vol-1188/paper_2.pdf", 
"http://ceur-ws.org/Vol-1188/paper_3.pdf", 
"http://ceur-ws.org/Vol-1188/paper_4.pdf", 
"http://ceur-ws.org/Vol-1188/paper_5.pdf", 
"http://ceur-ws.org/Vol-1188/paper_6.pdf", 
"http://ceur-ws.org/Vol-1188/paper_7.pdf", 
"http://ceur-ws.org/Vol-1188/paper_9.pdf", 
"http://ceur-ws.org/Vol-1188/paper_11.pdf", 
"http://ceur-ws.org/Vol-1188/paper_12.pdf", 
"http://ceur-ws.org/Vol-1188/paper_13.pdf", 
"http://ceur-ws.org/Vol-1155/paper-01.pdf",
"http://ceur-ws.org/Vol-1155/paper-02.pdf",
"http://ceur-ws.org/Vol-1155/paper-03.pdf",
"http://ceur-ws.org/Vol-1155/paper-04.pdf",
"http://ceur-ws.org/Vol-1155/paper-05.pdf",
"http://ceur-ws.org/Vol-1155/paper-06.pdf",
"http://ceur-ws.org/Vol-1155/paper-07.pdf",
"http://ceur-ws.org/Vol-1123/paper1.pdf",
"http://ceur-ws.org/Vol-1123/paper2.pdf",
"http://ceur-ws.org/Vol-1123/paper3.pdf",
"http://ceur-ws.org/Vol-1123/paper4.pdf",
"http://ceur-ws.org/Vol-1123/paper5.pdf",
"http://ceur-ws.org/Vol-1123/paper6.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper01.pdf", 
"http://ceur-ws.org/Vol-813/ldow2011-paper02.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper03.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper04.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper05.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper06.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper07.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper08.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper09.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper10.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper11.pdf",
"http://ceur-ws.org/Vol-813/ldow2011-paper12.pdf",
"http://ceur-ws.org/Vol-721/paper-01.pdf",
"http://ceur-ws.org/Vol-721/paper-02.pdf",
"http://ceur-ws.org/Vol-721/paper-03.pdf",
"http://ceur-ws.org/Vol-721/paper-04.pdf",
"http://ceur-ws.org/Vol-721/paper-05.pdf",
"http://ceur-ws.org/Vol-721/paper-06.pdf",
"http://ceur-ws.org/Vol-721/paper-07.pdf",
"http://ceur-ws.org/Vol-571/paper1.pdf",
"http://ceur-ws.org/Vol-571/paper2.pdf",
"http://ceur-ws.org/Vol-571/paper3.pdf",
"http://ceur-ws.org/Vol-571/paper4.pdf",
"http://ceur-ws.org/Vol-571/paper5.pdf",
"http://ceur-ws.org/Vol-571/paper6.pdf",
"http://ceur-ws.org/Vol-571/paper7.pdf",
"http://ceur-ws.org/Vol-571/paper8.pdf",
"http://ceur-ws.org/Vol-523/Battistelli.pdf",
"http://ceur-ws.org/Vol-523/deWaard.pdf",
"http://ceur-ws.org/Vol-523/Groza.pdf",
"http://ceur-ws.org/Vol-523/Mons.pdf",
"http://ceur-ws.org/Vol-523/Newman.pdf",
"http://ceur-ws.org/Vol-523/Novacek.pdf",
"http://ceur-ws.org/Vol-523/Noy.pdf",
"http://ceur-ws.org/Vol-523/Passant.pdf",
"http://ceur-ws.org/Vol-523/Renear.pdf", 
"http://ceur-ws.org/Vol-315/paper1.pdf",
"http://ceur-ws.org/Vol-315/paper2.pdf",
"http://ceur-ws.org/Vol-315/paper3.pdf",
"http://ceur-ws.org/Vol-315/paper4.pdf",
"http://ceur-ws.org/Vol-315/paper5.pdf",
"http://ceur-ws.org/Vol-315/paper6.pdf",
"http://ceur-ws.org/Vol-315/paper7.pdf",
"http://ceur-ws.org/Vol-315/paper8.pdf"
]
